
.container-fluid {
	max-width:1045px;
}

.progress > button {
	color: #fff;
}

#postoffice {
    width : 100%;
    height: auto; /*to preserve the aspect ratio of the image*/
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

#location1 {
	left: 64%;
	top: 48%;
}

.locationCard:hover {
	/* color: var(--bs-light); */
	background-color: var(--bs-light);
	cursor: pointer;
}